* {
	box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: rgb(241, 242, 243);
	align-items: center;
}

aside {
	width: 40%;
	margin-right: -120px;
}

main > img {
	width: 40%;	
}

h1 {
	font-size: 48px;
	margin: 0;
}

h2 {
	font-size: 28px;
	margin: 0;
}

nav > h2:hover {
	cursor: pointer;
}

p {
	margin: 0;
}

.card p {
	margin-top: 12px;
	margin-bottom: 12px;
}

.award p {
	color: rgb(102, 110, 127);
}

section > h2 {
	margin-top: 54px;
}

nav {
	background-color: rgb(241, 242, 243);
}

nav.mobile {
	display: none;
}

nav.desktop {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 4px;
	padding-bottom: 4px;
}

nav.desktop #nav-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li {
	display: flex;
	align-items: center;
	color: rgb(102, 110, 127);
}

li a {
	text-decoration: none;
	color: rgb(102, 110, 127);
}

nav a {
	margin: 20px;
}

li a:hover {
	cursor: pointer;
}

.card {
	display: inline-block;
	position: relative;
	margin-top: 54px;
}

.card-overlay {
	position: absolute;
	color: white;
	bottom: 36px;
	left: 36px;
	cursor: pointer;
}

.card-button {
	background-color: white;
	color: black;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 30px;
	text-align: center;
}

.card > img {
	border-radius: 20px;
	object-fit: cover;
	width: 100%;
	aspect-ratio: 817 / 404;
}

.card > img:hover {
	cursor: pointer;
}

.card-section {
	width: 68%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

#awards-view {
	background-color: rgb(241, 242, 243);
	display: flex;
	justify-content: space-around;
	border-radius: 20px;
	padding: 28px;
	margin-top: 54px;
}

#awards-view img {
	height: 36px;
}

.award {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 94px;
}

#subscribe-section {
	width: 68%;
	margin-top: 54px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(241, 242, 243);
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 20px;
	padding-top: 48px;
	padding-bottom: 48px;
}

#subscribe-section > div {
	width: 50%;
	display: flex;
	flex-direction: column;
	margin-left: 40px;
	margin-right: 40px;
}

#subscribe-section > div > p {
	margin-top: 15px;
	color: rgb(102, 110, 127);
}

#text-input {
	display: flex;
	border-style: solid;
	border-color: lightgray;
	background-color: white;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	margin-right: 40px;
	width: 50%;
}

input {
	width: 100%;
	border-style: none;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 22px;
	padding-bottom: 22px;
	border-radius: 12px;
}

#text-input > i {
	padding-left: 8px;
	padding-right: 8px;
}

#text-input > i:hover {
	cursor: pointer;
}

footer {
	width: 68%;
	margin: auto;
	/* border-style: solid; */
}

footer > section {
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
	/* border-style: solid; */
}

footer > section:last-child {
	margin-bottom: 110px;
	align-items: center;
}

footer > section:last-child > p {
	color: rgb(102, 110, 127);
	align-self: flex-end;
}

.footer-list {
	/* border-style: solid; */
	padding-left: 0;
	margin: 0;
}

.footer-list a {
	margin: 0px 0px 20px 0px;
	text-decoration: none;
	color: rgb(102, 110, 127);
}

.footer-list li:first-child {
	margin: 0px 0px 20px 0px;
	font-weight: bold;
	color: black;
}

#footer-sublist {
	display: flex;
}

.spacer {
	margin-left: 6px;
	margin-right: 6px;
}

.alert {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 68px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 58px;
	padding-right: 58px;
  	backdrop-filter: blur(10px);
	background:rgba(255, 255, 255, 0.7);
}

.alert > p {
	font-weight: bold;
}

#alert-button {
	background-color: rgb(225, 82, 71);
	border-style: none;
	color: white;
	width: 126px;
	height: 40px;
	border-radius: 20px;
	text-align: center;
}

#alert-button:hover {
	background-color: rgb(233, 101, 92);
	cursor: pointer;
}

#nav-header-wrapper {
	display: flex;
	justify-content: space-between;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#nav-header-wrapper i::after {
	content: 'menu';
}
.hidden {
	position: absolute;
	left: -9999px;
}
#toggle:checked ~ ul {
	opacity: 1;
    height: auto;
}
#toggle:checked ~ div i::after {
	content: 'close';
}
nav.mobile ul {
	padding: 0;
}
label {
	display: flex;
	align-items: center;
}

label i:hover {
	cursor: pointer;
}

@media only screen and (max-width: 640px) {
	nav.desktop {
		display: none;
	}
	nav.mobile {
		display: flex;
		flex-direction: column;
	}
	#nav-list {
		opacity: 0;
    	height: 0;
		transition: opacity 1s ease-out;
		padding-left: 40px;
	}
	#nav-list a {
		margin-left: 0;
	}
	main {
		flex-direction: column;
	}
	aside {
		margin: 0;
		width: 80%;
	}
	.card-section {
		width: 90%;
	}
	.card > img {
		aspect-ratio: 440 / 587;
	}
	#awards-view {
		flex-direction: column;
	}
	.award {
		margin-top: 30px;
	}
	#subscribe-section {
		flex-direction: column;
		width: 90%;
	}
	#text-input {
		margin: 30px 0 0 0;
	}
	#subscribe-section > div {
		width: 70%;
	}
	footer {
		width: 90%;
	}
	footer section:first-child {
		flex-direction: column;
		border-style: solid;
	}
	footer section:first-child a {
		display: none;
	}
	footer section:last-child {
		flex-direction: column;
		align-items: flex-start;
	}
	footer > section:last-child > p {
		color: rgb(102, 110, 127);
		align-self: flex-start;
	}
	#footer-sublist {
		margin: 8px 0 0 0;
		padding: 0;
	}
}